*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open-sans;
}
html body{
    height: 100%;
}

@font-face{
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: "open-sans";
}
.center{
    width: 1280px;
    height: 0 auto;
}

header{
    width: 100%;
    height: 70px;
    background-color: 	rgb(125, 200, 223);
}
header img{
    margin: 0 40px;
}
.banner{
    width: 100%;
    height: 557px;
    background-image: url("../imagens/banner.png");
    background-size: cover;
    background-position: center;
}
.banner > .center {
    height: 100%;
}

.form{
    padding:10px;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 128, 0.4); 
    float: right;
    position: relative;
    top: 15px;
    border: 8px solid #ccc;
}

.form h2{
    font-weight: bold;
    color:white;
    font-size: 24px;
    text-align: center;
}

.input-container{
    margin-top: 20px;
}
.input-container span, .form p {
    display: inline-block;
    width: 100%;
    color: #bbbbbb;
    font-size: 17px;
    font-weight: bold;
}
.form p{
    font-size: 12px;
    margin: 20px;
}

.input-container input[type="text"]{
    margin-top:8px;
    width: 344px;
    height: 33px;
    border: 1px solid #ccc;
}
.input-container input[type="password"]{
    margin-top:8px;
    width: 344px;
    height: 33px;
    border: 1px solid #ccc;
}

.form input[type="submit"]{
    width: 280px;
    height: 56px;
    background-color:  #363a6d;
    color: white;
    font-size: 25px;
    display: inline-block;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 5px solid #6495ED;
    cursor: pointer;
}
.form .submit-container{
    text-align: center;
}

.form .submit-container input[type="submit"]:hover{
    background-color: #6495ED;
}

